@use 'theme/helpers' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    background-color: $primary;
  }

  .header-content {
    @include container;
    display: flex;
    align-items: center;
    height: rem(60);
    padding-block: rem(5);

    .logo {
      font-size: $fontSize4Xl;
      line-height: 1;
      color: white;
      text-decoration: none;
    }

    .profile-nav-wrap {
      position: relative;
      margin-left: auto;

      .profile-nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: $primary;
        background: white;
        border: none;
        border-radius: 50%;
        text-transform: uppercase;
      }

      .profile-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);

        .logout-btn {
          padding: 0;
          background: none;
          border: none;
        }
      }
    }
  }

  .main-content {
    @include container;
    padding-block: rem(20);
  }

  .footer {
    margin-top: auto;
    background-color: $primary;
  }

  .footer-content {
    @include container;
    display: flex;
    align-items: center;
    height: rem(40);
    color: white;
  }
}
