@use 'theme/helpers' as *;

.note-view {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      margin: 0;
      font-size: $fontSize4Xl;
    }

    .tags {
      display: flex;
      gap: rem(4)
    }

    .action-buttons {
      display: flex;
      gap: rem(8)
    }
  }

  .body {
    padding: rem(15) rem(20);
    background-color: $offWhite;
    border-radius: rem(4);
  }
}
